<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

	<select name="" id="" ng-model="lista.productoSeleccionado">
	<option ng-repeat="producto in lista.productos" value="{{producto.id}}">{{producto.nombre}}</option>
</select>

<input type="text" ng-model="lista.cantidad">

<input type="button" value="Añadir" ng-click="lista.addAlcarrito ()">


<table cellspacing="0">

	<thead>
		<tr>
			<td>Productos</td>
			<td>Precio</td>
			<td>Cantidad</td>
			<td>Total</td>

		</tr>
	</thead>
	<tr ng-repeat="producto in lista.carrito">
	       
			<td>{{producto.nombre}}</td>
			<td>${{producto.precio}}</td>
			<td>{{producto.cantidad}}</td>
			<td>${{producto.total}}</td>

</tr>
<tr class="total">

<td></td>
<td></td>
<td></td>
<td>${{lista.getTotalCarrito()}}</td>


 </tr>
</table>
</body>
</html>