<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

<p>
	
	Nombre:<br>
<input type="text" ng-model="lista.nombre">

	</p>

<p>
	Precio:<br>
<input type="text" ng-model="lista.precio">

</p>

<input type="button" value="Añadir" ng-click="lista.addProducto()">

<table cellspacing="0">
	
	<thead>
		<tr>
			<td>Productos</td>
			<td>Precio</td>
			

		</tr>
	</thead>
	<tr ng-repeat="producto in lista.productos">
	
			<td>{{producto.nombre}}</td>
			<td>${{producto.precio}}</td>
			

</tr>

</table>

</body>
</html>